{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="hero-image-container">
        <img src="{% static 'images/housemates.jpg' %}" alt="Hero Image" class="hero-image">
        <div class="hero-text-box">
            <h2>Find Your Perfect Roommate!</h2>
            <p>Use our platform to connect with potential roommates.</p>
            <a href="{% url 'accounts:register' %}" class="cta-button">Sign Up</a>
        </div>
    </div>
</section>