{% extends 'base.html' %}

{% block content %}
<div class="login-form">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"> <!-- Hidden input for next parameter -->

        <label for="email">Email:</label>
        <input type="text" name="email" id="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'accounts:register' %}">Sign up here</a>.</p>
</div>
{% endblock %}
