/* global.css */
:root {
    --primary-color: #ffffff;
    --secondary-color: #FFFFFF;
    --dark-bg: rgba(23, 38, 59, 0.95);
    --font-body: 'Playfair Display', serif;
}

.homepage-wrapper {
    width: 100%;
    margin-top: -50px;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(23, 38, 59, 0.95);
    z-index: 1000;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Smooth transition */
}

.navbar.hidden {
    transform: translateY(-100%); /* Hide the navbar by moving it up */
}

.navbar-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo-container h1 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin: 0;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    font-size: 1.1rem;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--primary-color);
}

/* Section Containers */
.section-container {
    max-width: 1200px;
    margin: 0 auto; /* Center the container */
    padding: 0 2rem; /* Add padding for spacing */
    width: 100%;
    text-align: center; /* Center-align text by default */
}

.user-icon {
    width: 80px;
    height: 80px;
}

.logo {
    width: 100px;
    height: 100px;
}